.header {
  width: 100%;
  max-width: 1440px;
  height: 6rem;
  backdrop-filter: blur(10px);

  display: flex;
  justify-content: space-between;

  border-bottom: 0.08rem solid rgba(255, 255, 255, 0.2);
}

.menuText {
  display: inline-block;
  margin-left: 1rem;
}

.logo {
  width: 10.5rem;
  height: 3rem;
  display: inline-block;
  margin: 1.5rem 4rem;
  width: 10.5rem;
  height: 3rem;
}

.navList {
  display: flex;
  align-items: center;
  margin: 2rem auto;

  .supportNav {
    cursor: not-allowed;
  }
  
  .activeNavItem {
    font-size: 1.33rem;
    font-family: Poppins-Bold, Poppins;
    font-weight: bold;
    color: #ffffff;
    line-height: 2rem;
    opacity: 1;
    position: relative;

    &:after {
      display: inline-block;
      content: '';
      position: absolute;
      top: 2.7rem;
      left: calc(50% - 1.67rem);
      width: 3.33rem;
      height: 0.25rem;
      background: #5adcfe;
      border-radius: 8.33rem;
    }
  }
}

.navList a {
  font-family: Poppins-Regular, Poppins;
  font-weight: 400;
  color: #ffffff;
  opacity: 0.4;
  font-size: 1.33rem;
  &:hover {
    opacity: 1;
  }
}

.navList a:not(:first-child) {
  margin-left: 5.33rem;
}

.connectButton {
  background: linear-gradient(270deg, #b721ff 0%, #21d4fd 100%);
  border-radius: 1.67rem;
  cursor: pointer;
  font-size: 1rem;
  font-family: Agrandir-GrandHeavy, Agrandir;
  font-weight: normal;
  color: #ffffff;
  line-height: 1.67rem;
  display: block;
  padding: 0.83rem 1.67rem;
  margin: 1.33rem 3.33rem;
}

.accountBox {
  margin: auto 0;

  .addressOrEns {
    display: flex;
    align-items: center;
    font-size: 1.17rem;
    font-family: Poppins-Medium, Poppins;
    font-weight: 500;
    color: #ffffff;
    line-height: 1.67rem;
  }

  .downIcon {
    font-size: 2rem;
    color: #777e90;
    margin-left: 1.33rem;
  }
}

.networkList {
  display: flex;
  align-items: center;
  margin: auto 1rem;
  font-family: Poppins;
  font-weight: 400;
  font-size: 1.1428571428571428rem;
  line-height: 1.5;
}

.networkListTitle {
  font-size: 1rem;
}
.networkListItem {
  display: flex;
  justify-content: space-between;

  & > span {
    flex-grow: 1;
    text-align: left;
    margin-right: 1rem;
  }
  :global {
    .MuiBox-root {
      width: 9px;
      height: 9px;
      border-radius: 50%;
    }
  }
  .currentNetwork {
    background: #55ab68;
  }
}
