.normalText {
  font-size: 1.33rem;
  font-family: Poppins-Regular, Poppins;
  font-weight: 400;
  color: #fcfcfd;
  line-height: 2rem;
  width: 40rem;
}

.tipsText {
  @extend .normalText;
  color: #777e90;
}

.baseButton {
  width: 18.33rem;
  height: 4.17rem;
  border-radius: 1rem;
  border: 0.17rem solid rgba($color: white, $alpha: 0.2);
  font-size: 1.5rem;
  font-family: Agrandir-GrandHeavy, Agrandir;
  font-weight: normal;
  color: #ffffff;
  line-height: 4.17rem;
  text-align: center;
  user-select: none;
  cursor: pointer;
  border-top-right-radius: 2.2rem;
  clip-path: polygon(
    30% 0%,
    93.5% 0%,
    100% 40%,
    100% 100%,
    70% 100%,
    0 100%,
    0% 70%,
    0 0
  );
}

.defaultButton {
  @extend .baseButton;
}

.primaryButton {
  @extend .baseButton;
  background: linear-gradient(270deg, #b721ff 0%, #5adcfe 100%);
  border: none;
  clip-path: polygon(
    30% 0%,
    92% 0%,
    100% 40%,
    100% 100%,
    70% 100%,
    0 100%,
    0% 70%,
    0 0
  );
}

.addressBox {
  width: 100%;
  margin-top: 2.67rem;
  padding: 1.25rem;
  background: rgba($color: white, $alpha: 0.15);
  border-radius: 1rem;
  text-align: center;
  font-size: 1.17rem;
  font-family: Poppins-Medium, Poppins;
  font-weight: 500;
  color: #e3e3e8;
  line-height: 1.67rem;
}
