.baseButton {
  width: 20rem;
  height: 4.17rem;
  border-radius: 12px;
  border-top-right-radius: 24px;
  font-size: 1.5rem;
  font-family: Agrandir-GrandHeavy, Agrandir;
  font-weight: normal;
  color: #ffffff;
  line-height: 4.17rem;
  text-align: center;
  user-select: none;
  cursor: pointer;
  clip-path: polygon(
    30% 0%,
    93% 0%,
    100% 40%,
    100% 100%,
    70% 100%,
    0 100%,
    0% 70%,
    0 0
  );
}

.defaultButton {
  @extend .baseButton;
  clip-path: polygon(
    30% 0%,
    95% 0%,
    100% 45%,
    100% 100%,
    70% 100%,
    0 100%,
    0% 70%,
    0 0
  );
  border-top-right-radius: 28px;
  border: 0.17rem solid rgba($color: white, $alpha: 0.2);
}

.primaryButton {
  @extend .baseButton;
  background: linear-gradient(270deg, #b721ff 0%, #5adcfe 100%);
}

.primaryButton_disable {
  @extend .primaryButton;
  opacity: 0.6;
  cursor: not-allowed;
}

.selectedMessage {
  font-size: 1.33rem;
  font-family: Poppins-Regular, Poppins;
  font-weight: 400;
  color: #dedede;
  line-height: 2rem;
  text-align: center;
  margin-top: 1.33rem;
}

.lendStep {
  padding: 2.67rem;

  span {
    font-size: 1.33rem;
  }
}

.lendStepTitle {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 1rem;
  font-size: 1.33rem;
  font-family: Poppins-Regular, Poppins;
  font-weight: 400;

  button {
    margin-right: 1rem;
    font-size: 1.33rem;
  }
  :global {
    .MuiTypography-root {
      font-size: 1.33rem !important;
      opacity: 0.8;
    }
  }
}

.container {
  :global {
    .MuiPaper-root {
      background: transparent;
      min-width: 46.67rem;
      width: auto;
      max-width: none;
    }
  }
  .dialogTitle {
    width: 100%;
    background: #272750;
    border-radius: 1.67rem 1.67rem 0rem 0rem;
    font-size: 2rem;
    font-family: Poppins-SemiBold, Poppins;
    font-weight: 600;
    color: #ffffff;
    line-height: 2.67rem;
    text-align: center;
    padding: 2rem 0;
  }
  .dialogContent {
    border-radius: 0rem 0rem 1.67rem 1.67rem;
    background-color: #1a1a46;
    overflow: hidden;
  }
}
