.dialogModalTitle {
  width: 40rem;
  text-align: center;
  background-color: #272750;
  font-size: 2rem;
  font-family: Poppins-SemiBold, Poppins;
  font-weight: 600;
  color: #ffffff;
  line-height: 2.67rem;
}

.dialogModalContent {
  display: block;
  background-color: #1a1a46;
  padding: 2rem;
  font-family: Poppins;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.5;
}

.dialogModalActions {
  background-color: #1a1a46;
  display: flex;
  justify-content: center;
  padding-bottom: 1rem;
  button + button {
    margin-left: 2rem;
  }
}

.dialogPaper {
  border-radius: 1.67rem;
}
