.footer {
  height: 11.75rem;
  /* width: 100vw; */
  background: linear-gradient(180deg, #030305 0%, #150523 100%);
}
.iconList {
  padding: 1.83rem 10rem;
  border-bottom: 0.08rem solid rgba(255, 255, 255, 0.05);
  display: flex;
  justify-content: space-between;
}

.communityList a {
  margin-left: 2rem;
}

.copywrite {
  margin: 1.3rem 10rem 2rem;
  text-align: left;
  font-size: 1rem;
  font-family: Poppins-Regular, Poppins;
  font-weight: 400;
  color: #ffffff;
  line-height: 1.67rem;
  opacity: 0.4;
}
