.navBox {
  height: 5.67rem;
  background: rgba(255, 255, 255, 0);
  border-bottom: 0.08rem solid rgba($color: #fff, $alpha: 0.2);
  line-height: 5.67rem;
  padding-left: 12.67rem;

  :global {
    .MuiBreadcrumbs-li {
      line-height: 5.67rem;
    }
  }

  & p {
    font-size: 1.17rem;
    font-family: Poppins-SemiBold, Poppins;
    font-weight: 600;
    color: #fcfcfd;
    line-height: 1.67rem;
  }
  & a {
    font-size: 1.17rem;
    font-family: Poppins-Regular, Poppins;
    font-weight: 400;
    color: #777e90;
    line-height: 1.67rem;
  }
}

.itemCover {
  width: 28.5rem;
  height: 28.5rem;
  border-radius: 1.67rem;
  background-color: transparent;
  overflow: hidden;
  position: relative;

  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  span {
    display: block;
    position: absolute;
    top: 1.33rem;
    right: 1.33rem;
    background: #ae34ff;
    border-radius: 0.5rem;
    font-size: 1rem;
    font-family: Poppins-Medium, Poppins;
    font-weight: 500;
    color: #ffffff;
    line-height: 1.33rem;
    padding: 0.17rem 0.67rem;
  }
}

.rentDetail {
  background: rgba($color: #fff, $alpha: 0.1);
  border-radius: 1.67rem;
  padding: 1.67rem 2rem;

  font-size: 1.17rem;
  font-family: Poppins-Medium, Poppins;
  font-weight: 500;
  color: #777e90;
  line-height: 2rem;

  p {
    font-size: 1.17rem;
    font-family: Poppins-Medium, Poppins;
    font-weight: 500;
    color: #777e90;
    line-height: 2rem;
  }
  h4 {
    font-size: 2.33rem;
    font-family: Poppins-SemiBold, Poppins;
    font-weight: 600;
    color: #ffffff;
    line-height: 2.67rem;
    margin: 1rem 0 0.33rem;
  }
  .earnRatio {
    margin-top: 2rem;
  }
  .earnRatioValue {
    font-size: 2.67rem;
    font-family: Poppins-SemiBold, Poppins;
    font-weight: bold;
    color: #5bd9fe;
    line-height: 3.33rem;
    margin: 0;
  }
}

.rentButton {
  background: linear-gradient(270deg, #b721ff 0%, #5adcfe 100%);
  width: 28.5rem;
  padding: 1rem;
  font-size: 1.5rem;
  font-family: Agrandir-GrandHeavy, Agrandir;
  font-weight: normal;
  color: #ffffff;
  text-align: center;
  border-radius: 0.5rem;
  cursor: pointer;
  user-select: none;
}

.rentedButton {
  @extend .rentButton;
  background: #777e90;
  color: rgba($color: #fff, $alpha: 0.7);
  cursor: default;
}

.rentNFTinfo {
  padding: 1.67rem 2rem;
  min-width: 60.83rem;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 1.67rem;
  font-size: 1.33rem;
  font-family: Poppins-Medium, Poppins;
  font-weight: 500;
  color: #777e90;
  line-height: 2rem;
  .nftCollectionName {
    display: inline-block;
    font-size: 1.33rem;
    font-family: Poppins-Medium, Poppins;
    font-weight: 500;
    color: #5bd9fe;
    line-height: 2rem;
    margin-left: 0.67rem;
  }

  h2 {
    font-size: 3.33rem;
    font-family: Poppins-SemiBold, Poppins;
    font-weight: 600;
    color: #fcfcfd;
    line-height: 3.33rem;
    margin: 1rem 0;
  }
  .ownerAddress {
    font-size: 1.33rem;
    font-family: Poppins-Medium, Poppins;
    font-weight: 500;
    color: #5bd9fe;
    text-decoration: underline;
    line-height: 2rem;
  }
  .deployedChainType {
    font-size: 1.33rem;
    font-family: Poppins-Medium, Poppins;
    font-weight: 500;
    color: #ffffff;
    line-height: 2rem;
    opacity: 0.9;
  }
}

.rentNFTabout {
  padding: 2rem;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 1.67rem;

  h4 {
    font-size: 2rem;
    font-family: Poppins-SemiBold, Poppins;
    font-weight: 600;
    color: #ffffff;
    line-height: 2.67rem;
  }

  .detailList {
    margin-top: 1rem;
    & > div {
      display: flex;
      justify-content: space-between;
      color: rgba($color: #fff, $alpha: 0.6);
      font-size: 1.17rem;
      font-family: Poppins-Medium, Poppins;
      font-weight: 500;
      color: #777e90;
      line-height: 2.4rem;
    }
  }
}

.rentNFTproperties {
  padding: 2rem;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 1.67rem;

  h4 {
    font-size: 2rem;
    font-family: Poppins-SemiBold, Poppins;
    font-weight: 600;
    color: #ffffff;
    line-height: 2.67rem;
  }
}

.moreNFTtitle {
  h3 {
    font-size: 2rem;
    font-family: MonumentExtended-Black, MonumentExtended;
    font-weight: 900;
    color: #ffffff;
    line-height: 2.67rem;
  }
  p {
    display: flex;
    align-items: center;
    font-size: 1.33rem;
    font-family: Poppins-Medium, Poppins;
    font-weight: 500;
    color: #5cd7fe;
    line-height: 2rem;
    cursor: pointer;
  }
}

.nftAttrCard {
  width: 12rem;
  color: white;
  padding: 1rem;
  border: 1px solid rgba(21, 178, 229, 0.5);
  text-align: center;
  margin: 1rem 1rem;
  background: #aad1df2d;
  border-radius: 1rem;
  font-family: Poppins-Medium, Poppins;
  font-weight: 500;

  &:hover {
    cursor: pointer;
    box-shadow: rgba(123, 171, 217, 0.7) 0px 0px 8px 0px;
    transition: all 0.1s ease 0s;
  }

  div {
    color: white;
    opacity: 0.7;
    font-size: 15px;
    font-weight: 500;
    line-height: 30px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .attrValue {
    opacity: 0.5;
  }
}

.linkAddress {
  color: #5bd9fe;
  text-decoration: underline;
  cursor: pointer;
}
