html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background: #000032;
  /* setting rem base value */
  font-size: 12px;
  color: white;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* import fonts type */
@font-face {
  font-family: MonumentExtended;
  src: url(../public/font/MonumentExtended.otf);
}
@font-face {
  font-family: Agrandir-GrandHeavy;
  src: url(../public/font/Agrandir-GrandHeavy.otf);
}
