.container {
  padding: 0 2rem;
}

.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
}

.leftNav {
  width: 20rem;
  min-height: calc(100vh - 6rem);
  box-shadow: inset -0.08rem 0rem 0rem 0rem #2b2c40;
}

.contentBox {
  width: 100rem;
  min-height: calc(100vh - 6rem);
  padding: 2.67rem;
}

.introductCard {
  width: 100%;
  height: 53.25rem;
  background: linear-gradient(360deg, #1a1a46 0%, rgba(0, 0, 0, 0) 100%);
  border-radius: 1.67rem;
  margin-bottom: 5.33rem;
}
.listTitle {
  font-size: 2rem;
  font-family: MonumentExtended-Black, MonumentExtended;
  font-weight: 900;
  color: #ffffff;
  line-height: 3.33rem;
}
.nftCardList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}