.container {
  margin: auto;
  display: flex;
}

.leftNav {
  width: 20rem;
  min-height: calc(100vh - 6rem);
  box-shadow: inset -0.08rem 0rem 0rem 0rem #2b2c40;
  padding: 2rem 1.33rem;

  .accordionHeader {
    background: rgba($color: #ffffff, $alpha: 0.15);
    background-color: #3c3c5e;
    border-radius: 1rem 1rem 0rem 0rem;
    padding: 0.67rem 1.33rem;
    font-size: 1.17rem;
    font-family: Poppins-SemiBold, Poppins;
    font-weight: 600;
    color: #ffffff;
    line-height: 2rem;
    margin: 0;
    align-items: center;

    .navHeaderIcon {
      display: inline-block;
      width: 2rem;
      height: 2rem;
      background: url(../public/nav_game_icon.png);
      margin-right: 0.67rem;
    }
    :global {
      .MuiAccordionSummary-content {
        margin: 0;
      }
      .Mui-expanded {
        margin: 0;
      }
    }
  }

  .accordionNavList {
    background-color: #1a1a46;
    border-radius: 0 0 1rem 1rem;
    padding: 0px;

    :global {
      button {
        border: none;
        margin-top: 0.67rem !important;
        padding: 0.67rem 1.33rem;
      }
      .MuiBox-root {
        width: 100%;
        text-align: left;
        display: flex;
        justify-content: left;
        align-items: center;
        font-size: 1.17rem;
        font-family: Poppins-Medium, Poppins;
        font-weight: 500;
        line-height: 2rem;
        color: #777e90;

        img {
          display: inline-block;
          width: 2rem;
          height: 2rem;
          background: #ffffff;
          border-radius: 0.53rem;
          margin-right: 0.67rem;
        }
      }
      .Mui-selected {
        background: #aa3ff8;
        font-size: 1.17rem;
        font-family: Poppins-SemiBold, Poppins;
        font-weight: 600;
        color: #ffffff;
        line-height: 2rem;

        :global {
          .MuiBox-root {
            color: #fff;
          }
        }
      }
    }
  }
}

.contentBox {
  // width: calc(100vw - 20rem);
  width: auto;
  min-height: calc(100vh - 6rem);
  padding: 2.67rem;
}

.topCover {
  width: 100%;
  // min-height: 53.25rem;
  height: 40rem;
  overflow: hidden;
  background: url(../public/rentero_game_cover.png);
  object-fit: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 18%;
  border-radius: 1.67rem;
  margin-bottom: 5.33rem;
  position: relative;

  .topCoverInfo {
    position: absolute;
    bottom: 2.22rem;
    left: 2rem;

    .websiteBtn {
      width: 10.67rem;
      height: 3.33rem;
      margin-right: 0.33rem;
      background: url(../public/color_btn_irregular.svg);
      border-radius: 1rem;
      // border-top-right-radius: 2rem;
      font-size: 1.17rem;
      font-family: Poppins-SemiBold, Poppins;
      font-weight: 600;
      color: #ffffff;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;

      &:hover {
        background: linear-gradient(
          270deg,
          rgba(183, 33, 255, 1),
          rgba(90, 220, 254, 1)
        );
        border-top-right-radius: 2rem;
        clip-path: polygon(
          30% 0%,
          82% 0%,
          100% 40%,
          100% 100%,
          70% 100%,
          0 100%,
          0% 70%,
          0 0
        );
      }
    }

    .baseLink {
      display: block;
      width: 2.67rem;
      height: 2.67rem;
      margin-left: 1rem;
      cursor: pointer;
    }
    .discordLink {
      @extend .baseLink;
      background: url(../public/discord_logo_w.svg);
      &:hover {
        background: url(../public/discord_logo_w_click.svg);
      }
    }
    .twitterLink {
      @extend .baseLink;
      background: url(../public/twitter_logo_w.svg);
      &:hover {
        background: url(../public/twitter_logo_w_click.svg);
      }
    }
    .telegramLink {
      @extend .baseLink;
      background: url(../public/telegram_logo_w.svg);
      &:hover {
        background: url(../public/telegram_logo_w_click.svg);
      }
    }
    .facebookLink {
      @extend .baseLink;
      background: url(../public/facebook_logo_w.svg);
      &:hover {
        background: url(../public/facebook_logo_w_click.svg);
      }
    }

    .gameTitle {
      font-size: 2rem;
      font-family: Poppins-SemiBold, Poppins;
      font-weight: 600;
      color: #ffffff;
      line-height: 2.67rem;
      margin-bottom: 1rem;
    }
    .gameStatus {
      display: block;
      width: 44px;
      height: 20px;
      background: linear-gradient(
        162deg,
        #08a4e6 0%,
        #146fdd 50%,
        #04d099 100%
      );
      border-radius: 0.5rem;
      font-size: 1rem;
      font-family: Poppins-SemiBold, Poppins;
      font-weight: 600;
      color: #ffffff;
      line-height: 1.33rem;
      padding: 0.17rem 0.66rem;
      user-select: none;
    }
    .releaseTime {
      margin: 0 1rem 0 0.67rem;
      font-size: 1.17rem;
      font-family: Poppins-Medium, Poppins;
      font-weight: 500;
      color: #777e90;
      line-height: 1.67rem;
    }
    .tagList {
      display: flex;
      justify-content: left;
      user-select: none;
      margin: 1rem auto 1.33rem;
      span {
        display: inline-block;
        padding: 0rem 1.33rem;
        background: rgba(255, 255, 255, 0.2);
        border-radius: 0.5rem;
        font-size: 1rem;
        font-family: Poppins-SemiBold, Poppins;
        font-weight: 600;
        color: #ffffff;
        line-height: 2rem;
        & + span {
          margin-left: 0.67rem;
        }
      }
    }
    .gameDesc {
      font-size: 1.17rem;
      font-family: Poppins-Medium, Poppins;
      font-weight: 500;
      color: #777e90;
      line-height: 1.67rem;
    }
  }
}

.listTitleBox {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2.67rem;
}

.listTitle {
  font-size: 2rem;
  font-family: MonumentExtended-Black, MonumentExtended;
  font-weight: 900;
  color: #ffffff;
  line-height: 3.33rem;
  display: flex;
  align-items: center;

  span {
    display: inline-block;
    margin-top: 4px;
    cursor: pointer;
  }
}
.nftCardList {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.showMore {
  margin: 1.33rem auto 4rem;
  font-size: 1.17rem;
  font-family: Poppins-SemiBold, Poppins;
  font-weight: 600;
  display: flex;
  justify-content: center;

  span {
    display: inline-block;
    width: auto;
    margin: 0 auto;
    padding: 0.67rem 2rem;
    line-height: 2rem;
    color: #ffffff;
    cursor: pointer;
    background: url(../public/color_btn_irregular.svg);
    border-radius: 1rem;
  }
}

.sortList {
  display: flex;
  align-items: center;

  .whitelistForUser {
    font-size: 1.33rem;
    font-family: Poppins-Medium, Poppins;
    font-weight: 500;
    color: #ffffff;
    line-height: 2rem;
  }
  .whitelistNum {
    display: inline-block;
    height: 2rem;
    min-width: 2rem;
    margin: auto 2.67rem auto 1rem;
    text-align: center;
    user-select: none;
    background: #70eaab;
    border-radius: 0.5rem;
    padding: 0.17rem 0.5rem;
    font-size: 1.17rem;
    font-family: Poppins-SemiBold, Poppins;
    font-weight: 600;
    color: #305948;
    line-height: 1.67rem;
  }

  div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: 18.67rem;
    border-radius: 1rem;
    border: 0.17rem solid rgba($color: #777e91, $alpha: 0.3);
    padding: 0.83rem 1.33rem;
    font-size: 1.17rem;
    font-family: Poppins-Medium, Poppins;
    font-weight: 500;
    color: #777e90;
    line-height: 1.67rem;
    & + div {
      margin-left: 2rem;
    }
  }
}

.trialZone {
  margin: 6.47rem auto;

  .headerTitle {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2rem;

    .titleText {
      font-size: 2rem;
      font-family: MonumentExtended-Black, MonumentExtended;
      font-weight: 900;
      color: #ffffff;
      line-height: 3.33rem;
      display: flex;
      align-items: center;
      img {
        margin-left: 1rem;
        width: 2.4rem;
        height: 2.4rem;
        background: url(../public/fire.png);
      }
    }
    .moreLink {
      font-size: 1.33rem;
      font-family: Poppins-Medium, Poppins;
      font-weight: 500;
      color: #5cd7fe;
      line-height: 2rem;
    }
  }
  .trialNFTList {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
  }
}

@media screen and (max-width: 1500px) {
  .leftNav {
    display: none;
  }
  .contentBox {
    padding: 2.67rem 4rem;
  }
}

@media screen and (max-width: 1160px) {
  .contentBox {
    padding: 2.67rem;
  }
}

@media screen and (max-width: 600px) {
  .contentBox {
    padding: 1rem;
  }
  .listTitleBox {
    margin-bottom: 1rem;
    .listTitle {
      font-size: 1.6rem;
    }
  }

  .topCover {
    margin-bottom: 3rem;
  }
  .trialZone {
    margin: 2rem auto;
    width: 100%;
    .headerTitle {
      margin-bottom: 1rem;
      // padding: 0 1rem;
      .titleText {
        font-size: 1.6rem;
      }
    }

    .trialNFTListBox {
      width: calc(100vw - 2rem);
      overflow-x: scroll;
      .trialNFTList {
        display: flex;
        justify-content: flex-start;
        width: calc(200vw - 2.6rem);
      }
    }
  }
}

@media screen and (max-width: 840px) {
  .sortList {
    display: none;
  }
}
